<form method="POST" action="/upload-quote-csv" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label for="file">Select a CSV file</label>
        <input type="file" name="file" class="form-control-file" id="file" accept=".csv,.data">
    </div>
    <button type="submit" class="btn btn-primary">Import Users</button>
</form>
